Q1) Python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

# Solution 1- Python program to scrape data for “Data Analyst” Job position in Banglore location

# INSTALLING AND IMPORTING REQUIRES LIBRARIES

In [34]:
#Let's first install the selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\femina\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\femina\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [35]:
#Importing al the required Libraries

import selenium
import pandas as pd
from selenium import webdriver

In [36]:
#Lets first connect to the webdriver
driver= webdriver.Chrome( r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe ")

In [37]:
#Lets first connect to the webdriver
driver= webdriver.Chrome( "chromedriver.exe ")

In [199]:
#For scraping data from naukri.com
url='https://www.naukri.com/'
driver.get(url)

#Going to scrape data for Data Analyst on Bangalore Location

In [200]:
#By using id function going to extract the web element
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [201]:
#Now going to write Data Analyst over search engine of naukri.com
search_job.send_keys("Data Analyst")

In [202]:
#finding the web element for job location bar using id function
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [203]:
#Now we have to do click search button using xpath function to get the web element
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

In [204]:
#clicking on search button
search_btn.click()
#once I run it i will be on the job opening page

In [205]:
#Now extracting all the tags having the job titles
#And scrape the data for the first 10 jobs results you get.
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="365cad86-e932-4864-9fea-d17a7423b901")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="27bef38d-7bcc-4ea2-ae81-badb5aca55de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="2305ef32-adec-4d10-ba04-b96da87e0a18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="0b4594a5-ee07-4011-ab25-8d3348e0084b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="a1c85132-9925-4e6d-9d66-789bdf51573c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="fc675165-077d-4200-82ba-f2b4daf075aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="6ad59378-9de7-445b-929a-fe71a29bb723")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="8a2a333d-e4e1-483f-945b-f6456e84a259")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="8454ae7b-0d73-4b5c-af9b-3a49cfc3f7c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="be7f5a24-6e17-4ff1-bac5-e2864f9306d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="78477cd2-7ecf-47d1-9c51-aac72da6781e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="60adf1a7-ef10-420b-99c7-6cfb71454e4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="8172ba6c-0848-4995-a8ab-e964458182a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="a8e5dfcf-04c3-4cad-a4f6-61837403495c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="de924222-2c9d-4ea2-8bc8-7cb5a98fa93c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="ae3d2891-bd76-45e3-a1b1-280d955a5f2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="709eb722-7ceb-40b1-9719-069958907a79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="39fa4e87-6ab4-4980-8b9a-c370c4399585")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="dd3eb5e7-fae1-403f-9c23-7e6f33a989da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="b5e3a2aa-f99b-4e57-8f69-a4ce14e1dc9e")>]

In [206]:
#Now we will extract the text from these web elements one by one by looping over these.
#Got the job titles
job_titles=[]
for i in title_tags:
     job_titles.append(i.text) 
job_titles

['Senior Specialist - Data Analyst',
 'Business/Data Analyst - SSE/LA',
 'Business Data Analyst II',
 'Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst',
 'Data Analyst/Business Analyst-Gurgaon/Bangalore/Mumbai (only Females)',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data/Business Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst - SQL/Tableau/Redshift',
 'Marketing Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [207]:
#Extracting all the html tags where we have the location of the job data
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="0c366c40-4da5-44f4-b6e1-b3eb665d7b98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="220d0ad1-163f-4492-9350-06d453fd8d18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="f56dfe2b-4cd0-44eb-8444-708ed18c9f19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="c5cfa7d6-4970-4d90-a178-2bb7c7d2dfeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="95ac62ff-28e7-4d5c-8de0-22f08c4ad1ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="d55c926c-a67c-4569-b0c2-8b39c7d394cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="db0c8bda-6138-4a92-b083-c2a96e83caee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="c8b7f5f7-46b0-4af0-90a3-5dca7f5d677b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="5b1f9c4f-7dc5-4dd6-9fc6-5b84ae23677e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="816a9648-4b61-47d8-92a8-95c45c3e6852")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="01de5957-df76-4b2f-9356-4097d2a6e218")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="09de6881-55d0-4a91-9d62-12c7321f9a7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="d290d51c-ffad-4fc7-8354-e9d1a8f66391")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="6bfbbb74-9be0-4300-a441-25f2b8fbb22c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="0ad1678b-03fd-4918-bbe6-9dd26d6b1f31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="fa9396f7-0759-43bb-aacb-6e3d0e328047")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="faf5d99b-9780-450d-b194-4d8f42050304")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="f7cf4b80-5f5c-43d2-aab6-36677e7c37ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="40a4845c-8b10-482f-beea-d6a2b712c7bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="f36eb71e-a573-41ed-ad83-be9acf0ff965")>]

In [208]:
#Extracting text from the web elements
locations_list=[]
for i in location_tags:
    locations_list.append(i.text)
locations_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Noida, Mumbai, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [209]:
#Extracting all the tags having the company names
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="5d7e0e11-3119-4ec3-b7d6-c4765482aac0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="a7291308-8779-4cb6-80d5-1f99b038a637")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="4f6e1011-becb-4a9b-b30e-289c5910b89b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="86b92dd1-44ac-4c77-9ea6-51f5dc47bc4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="2df5e7cf-917f-4f58-94b3-90104413c2e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="b2424f6b-47e2-4ca7-a8f1-2dd771e3bb44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="fe39583a-82af-43e3-a996-6db5943b9cb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="5042a1c1-b948-40e2-9ee9-009d84b72945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="7832c239-98f2-4a35-958b-0e0da7cae78a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="63054799-4c3a-400b-be61-69a4f3ec59ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="9799ee63-6ad1-4d49-8caf-5ba9b70a06a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="5f7e89a4-a0af-4a87-a5da-9f6f4cb0f27f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="7411c942-f002-4a8d-baef-05799ad8a00e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="12d54a68-fe1e-4f5e-a840-9ce817cf638b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="804b00b5-15f7-497f-a9b3-9ef3e425e2dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="8612be70-7261-4255-bc34-e7c87dde92e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="d8dcc448-1cc7-4e9e-9861-0f06c0d9e25f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="b2042911-7107-49bb-8bdf-048bd9214a8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="ec714319-6a79-4a61-a464-c698cac01c2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="4f0e1cd9-f9f9-4eec-996a-49e51d0ffd24")>]

In [210]:
#Extracting text from these tags
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names

['Philips India Limited',
 'CGI Information Systems and Management Consultants',
 'Infobahn Softworld Inc.',
 'WEIWO Communication Pvt. Ltd.',
 'Trigent Software',
 'Trigent Software',
 'India Medtronic Pvt. Ltd,.',
 'SMEDC SERVICES PRIVATE LIMITED',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Enzen Global Solutions Pvt. Ltd',
 'CGI Information Systems and Management Consultants',
 'Liventus, Inc.',
 'Pronto Consulting Services',
 'Qlik',
 'Gojek Tech',
 'GO-JEK India',
 'Eli Lilly Services India Private Limited',
 'Infobahn Softworld Inc.',
 'GCC SERVICES INDIA PRIVATE LIMITED']

In [211]:
#Extracting all the html tags where we have the number of experience 
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="6444d95f-908a-40ca-a456-e9acb54d1551")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="3ee0e588-9984-4461-a5d2-97372ad4753e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="3d70fe0e-4bd1-49e9-9c6a-fbd7a59ffd09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="d1041d7a-813d-4aa9-a680-0e85763cd70b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="ebcda787-018c-46cf-9354-6441a7a0b611")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="82988b7a-4bf0-4343-aaa7-4aeab5d7ccce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="79422932-fdd9-4d88-bc31-c404ae8768b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="884cc0f7-63db-4eba-9b85-f54e72e00fff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="e19fbf42-554a-4133-94c8-ab36348da3d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="47f10efd-db19-4c12-a3b7-d48ab9db81d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="3e0e2d93-a46b-4862-bfdf-e158ebc76a8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="078d0c89-5186-4663-9647-959026ce0f97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="3e45ad86-1b17-408b-8ce6-d0aaed294438")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="afaa7f87-ca10-49b9-9b59-c0ead141b663")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="9a5b88e4-72f2-4e5a-b82f-bde6c2bb86c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="b17e2f58-151f-4adb-bf51-af00c0151739")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="8f770a5a-0607-45c8-80a0-9392ed89f565")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="cc0fe323-1638-4e4f-9389-0a26402c15bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="253d9973-e5f0-40f1-a96e-d9408118b9e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7109d1e4c15d9d4c1a37f1626b890a2", element="381889bb-2ff3-4439-81b6-5d82485da782")>]

In [212]:
#Extracting text from these tags
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['4-8 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '6-8 Yrs',
 '6-10 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '3-9 Yrs',
 '5-9 Yrs']

In [213]:
#printing lengths of texts
print(len(job_titles),len(locations_list),len(company_names),len(experience_list))

20 20 20 20

# Data Frame

In [217]:
#import pandas as pd
Data_Analyst=pd.DataFrame({})
Data_Analyst['title']=job_titles
Data_Analyst['company']=company_names
Data_Analyst['experience_required']=experience_list
Data_Analyst['location']=locations_list

In [215]:
Data_Analyst

,title,company,experience_required,location
0,Senior Specialist - Data Analyst,Philips India Limited,4-8 Yrs,Bangalore/Bengaluru
1,Business/Data Analyst - SSE/LA,CGI Information Systems and Management Consult...,2-5 Yrs,Bangalore/Bengaluru
2,Business Data Analyst II,Infobahn Softworld Inc.,5-8 Yrs,Bangalore/Bengaluru
3,Data Analyst,WEIWO Communication Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru(Ulsoor)
4,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
5,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
6,Data Analyst/Business Analyst-Gurgaon/Bangalor...,"India Medtronic Pvt. Ltd,.",1-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
7,Senior Data Analyst,SMEDC SERVICES PRIVATE LIMITED,5-8 Yrs,Bangalore/Bengaluru
8,Data Analyst,Allegis Services India Pvt. Ltd.,2-5 Yrs,Bangalore/Bengaluru
9,Data Analyst,Allegis Services India Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru
10,Data Analyst,Enzen Global Solutions Pvt. Ltd,6-8 Yrs,Bangalore/Bengaluru
11,Data/Business Analyst,CGI Information Systems and Management Consult...,6-10 Yrs,Bangalore/Bengaluru
12,Senior Data Analyst,"Liventus, Inc.",5-8 Yrs,Bangalore/Bengaluru(2nd Phase JP Nagar)
13,Senior Data Analyst - SQL/Tableau/Redshift,Pronto Consulting Services,6-10 Yrs,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,..."
14,Marketing Data Analyst,Qlik,2-7 Yrs,Bangalore/Bengaluru
15,Data Analyst,Gojek Tech,1-4 Yrs,Bangalore/Bengaluru
16,Data Analyst,GO-JEK India,3-7 Yrs,Bangalore/Bengaluru
17,Data Analyst,Eli Lilly Services India Private Limited,5-10 Yrs,Bangalore/Bengaluru
18,Data Analyst,Infobahn Softworld Inc.,3-9 Yrs,Bangalore/Bengaluru
19,Data Analyst,GCC SERVICES INDIA PRIVATE LIMITED,5-9 Yrs,Bangalore/Bengaluru

In [216]:
df=pd.DataFrame(Data_Analyst)
df=df.iloc[0:10]
df

,title,company,experience_required,location
0,Senior Specialist - Data Analyst,Philips India Limited,4-8 Yrs,Bangalore/Bengaluru
1,Business/Data Analyst - SSE/LA,CGI Information Systems and Management Consult...,2-5 Yrs,Bangalore/Bengaluru
2,Business Data Analyst II,Infobahn Softworld Inc.,5-8 Yrs,Bangalore/Bengaluru
3,Data Analyst,WEIWO Communication Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru(Ulsoor)
4,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
5,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
6,Data Analyst/Business Analyst-Gurgaon/Bangalor...,"India Medtronic Pvt. Ltd,.",1-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
7,Senior Data Analyst,SMEDC SERVICES PRIVATE LIMITED,5-8 Yrs,Bangalore/Bengaluru
8,Data Analyst,Allegis Services India Pvt. Ltd.,2-5 Yrs,Bangalore/Bengaluru
9,Data Analyst,Allegis Services India Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru

In [248]:
df=pd.DataFrame(Data_Analyst)
df=df.iloc[0:10]
df

,title,company,experience_required,location
0,Senior Specialist - Data Analyst,Philips India Limited,4-8 Yrs,Bangalore/Bengaluru
1,Business/Data Analyst - SSE/LA,CGI Information Systems and Management Consult...,2-5 Yrs,Bangalore/Bengaluru
2,Business Data Analyst II,Infobahn Softworld Inc.,5-8 Yrs,Bangalore/Bengaluru
3,Data Analyst,WEIWO Communication Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru(Ulsoor)
4,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
5,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
6,Data Analyst/Business Analyst-Gurgaon/Bangalor...,"India Medtronic Pvt. Ltd,.",1-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
7,Senior Data Analyst,SMEDC SERVICES PRIVATE LIMITED,5-8 Yrs,Bangalore/Bengaluru
8,Data Analyst,Allegis Services India Pvt. Ltd.,2-5 Yrs,Bangalore/Bengaluru
9,Data Analyst,Allegis Services India Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru

# Solution 2- Python program to scrape data for “Data Scientist” Job position in banglore location

In [2]:
#importing all the required libraries
from selenium import webdriver
import os
import pandas as pd
from time import sleep
import time 
import warnings
warnings.filterwarnings("ignore")

In [43]:
#Lets first connect to the webdriver
driver= webdriver.Chrome( "chromedriver.exe ")

In [227]:
#For scraping data from naukri.com
url='https://www.naukri.com/'
driver.get(url)

In [228]:
#By using id function going to extract the web element
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [229]:
#Now going to write Data Sceintist over search engine of naukri.com
search_job.send_keys("Data Scientist")

In [230]:
#finding the web element for job location bar using id function
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [231]:
#Now we have to do click search button using xpath function to get the web element
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

In [232]:
#clicking on search button
search_btn.click()
#once I run it i will be on the job opening page

In [234]:
#Now extracting all the tags having the job titles
#And scrape the data for the first 10 jobs results you get.
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="2ea1d30e-e4c9-40f6-a77e-9721340be388")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="7a3d4aaf-77c7-43e4-9d0f-3d35ed54267d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="80547daf-73b5-48b3-aa0b-13df69b7bf09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="e30c0510-97a4-4f6c-87ce-55b330df73ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="663a1832-1141-4dd5-9af7-f02ddb540193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="7cd549f5-d5c4-4b53-b5ec-1a45b50d07dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="d7a0809a-282b-4581-b612-b7020371f2fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="0f9e7855-c6cd-498e-8b72-1959df9fcd55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="72a2788b-94bc-4052-b925-a25fc2ac0173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="87659f8d-0770-4c2f-acdb-cf88d4feb258")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="eb846a82-c9af-4731-9207-5dae5e4668f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="d20d2d4d-1f0f-443b-9214-fc79b1ff1a5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="c2302224-400c-40e3-aec7-f8a2465ee6bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="52faf110-fdb3-4ddb-a50e-98ff073d7ac7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="2fbfad83-4e98-49f1-8b96-1fdc184dbe4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="f080fa16-5d27-4996-b4bb-c5375a08a773")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="cfbdcf5b-e526-4fb5-abef-9c9c16702cef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="bf6a920f-4b86-472a-a5e0-7704149929d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="4198541e-e1c8-4be1-9f0c-0fdf0bcc85bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="ff112df5-1367-47f4-80e0-4d9b0a27f752")>]

In [237]:
#Now we will extract the text from these web elements one by one by looping over these.
#Got the job titles
job_titles=[]
for i in title_tags:
     job_titles.append(i.text) 
job_titles

['Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'DATA SCIENTIST',
 'Senior Data Scientist',
 'Software Developer - Data Scientist / NLP / Machine Learning & Dot Net',
 'Data scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Permanent Role',
 'Senior Data Scientist',
 'Sr. Data Scientist / Tech Lead - Data Science',
 'Senior Data Scientist',
 'Lead Data Scientist - Tensorflow/Machine Learning',
 'Associate Data Scientist',
 'Data Engineers , Data Scientist and SAP',
 'Senior Data & Applied Scientist']

In [238]:
#Extracting all the html tags where we have the location of the job data
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="ec964359-c2d8-41cf-a0f3-4649c0dc93d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="1e7a1159-cb33-4e40-a76a-14b65753ed6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="dcf9bc7a-2af5-47ea-acb3-7f3b979e4265")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="7572f17e-d7aa-4ae3-b4c4-ed88975f7847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="149281b8-aaad-47a6-8275-47f7f05ac946")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="c6112345-05f0-42bc-89c4-9361996bb29b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="4c300d3d-3077-4e38-b162-ec472cd18118")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="45d75d04-a483-4616-99d6-704d33901c95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="5656d692-dbbc-465b-b072-dd9a07a57c05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="3e3613bd-113a-45ed-af59-5dd8a411bf8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="cb81f808-a93e-4c01-95dc-330b27b180e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="d3d28741-9509-41bf-a135-f2de1623b747")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="6d981dde-a002-49e8-9b21-27b67cef1ba5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="9ae03866-93b8-49de-94b3-5bc77e328439")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="b02ed7c9-506c-4ddf-81f3-1ef817e5af54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="c27e12ef-4dbe-40f3-ae87-806819536a08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="78c7f0bf-ff38-4ba3-a17d-28106f86019d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="10a4cdc1-dd2c-439c-a8c9-718b49c51a9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="1a5087d0-afa2-4fb3-a3b8-43011645c746")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="391d0221-3c9e-444d-aef1-6573d3a1ed53")>]

In [239]:
#Extracting text from the web elements
locations_list=[]
for i in location_tags:
    locations_list.append(i.text)
locations_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [240]:
#Extracting all the tags having the company names
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="31d64063-831e-4f6c-a1e7-83286c1f0a3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="a63b5b94-1218-42d5-8ee0-a5dc3c3c145c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="9608c048-53db-4821-a737-f9beff0e2040")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="52b1cf18-825a-44db-93ac-033532b1bc4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="7e9811a3-74e6-46e4-b62d-195ec18f32ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="566a71bc-1af9-4dc5-9271-5e02b41818fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="7f62020f-dd12-495e-b534-f9a08b93fe0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="d0aec473-3e60-4728-a5f4-6dcec18b5b4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="a5b0193a-8ea5-4ac5-8e56-a415d627ef5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="2884983d-af74-47a6-a88b-e5a0e672e907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="90d29a83-3f28-4a94-8e78-89b2633e334f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="6392eec3-9c2b-4e1b-9254-17bc989e9b7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="be40749d-2423-4380-b602-831bac81ce61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="a259c8a1-569c-4b5d-9734-30caf83c6668")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="fa0a9bff-de54-4a55-a724-61aae7714833")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="9d517953-f1c5-4627-8141-c525461f667c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="79669a63-068d-41ab-b435-10bd2dd447fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="bcd4fffa-e363-4080-9e48-0e7eeb36700a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="08c9b3ad-9599-4b21-8534-dbf5e5a9f628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="f6a7e542-d0a8-4961-87b0-566f74358b88")>]

In [241]:
#Extracting text from these tags
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names

['Philips India Limited',
 'IBM India Pvt. Limited',
 'SYMBIOSIS International W.L.L',
 'McAfee Software (India) Pvt. Ltd',
 'Datamatics Global Services Ltd',
 'Cunesoft India Private Limited',
 'Uber',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Publicis Groupe',
 'Bidgely Technologies Private Limited',
 'Goals 101 Data Solutions Pvt. Ltd.',
 'Onward Technologies Limited',
 'RANDSTAD INDIA PVT LTD',
 'Confidential',
 'L A Consultancy',
 'Getinz Techno Services',
 'ExecBoardinAsia',
 'Teamware Solutions',
 'Microsoft Corporation']

In [242]:
#Extracting all the html tags where we have the number of experience 
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="c74794e7-b500-4b69-8eab-7e25d8ab256c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="8dd64347-c6c0-4f2e-ad83-910fcbf90bed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="4bb679c8-fc05-4511-b452-a58779070e9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="6ad23f8c-f293-4903-8ce4-2e6f69723b3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="0aff7359-66e3-47f9-ab29-07748cda2580")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="af9aed2a-3b4e-4af4-9898-bfd7edfa0003")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="e9f7094c-6efc-4ff4-bc11-f9e00b01f880")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="864bd32f-3699-4a88-98ef-d2a0c91260d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="bfba2a13-717a-49ef-9967-4cfa7ff8769f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="5aa0e476-8b67-4302-8464-f5732e80b64f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="74296003-ffac-46f7-86bb-5090969d24eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="c361a24e-ff6a-491a-ab88-c96186e8c026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="8b59d297-fe37-4ede-84d4-4208d6b04191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="fbe98ea6-1e2f-4cf0-b79e-c5b3e57a65f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="1acdd103-13bf-4b6d-bc7b-14c237b1ef6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="41aa45f5-970d-4d56-9f33-6b2fd35d61f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="12811cab-80c3-4de9-8e3d-4fa130b656ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="58ce385d-dcd2-47ef-ab49-2c33beaec0d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="20341031-d526-44c3-bd7f-841c9d25a06c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f5991bc0608d1c5bd3e292d2928212", element="a7eb31ce-0b9e-4736-bb82-32dceaad51c3")>]

In [243]:
#Extracting text from these tags
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['8-10 Yrs',
 '5-10 Yrs',
 '10-15 Yrs',
 '4-8 Yrs',
 '8-13 Yrs',
 '3-8 Yrs',
 '6-8 Yrs',
 '5-10 Yrs',
 '8-12 Yrs',
 '2-5 Yrs',
 '4-6 Yrs',
 '4-8 Yrs',
 '6-11 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '5-9 Yrs',
 '7-10 Yrs',
 '5-10 Yrs',
 '7-10 Yrs',
 '3-5 Yrs']

In [244]:
#printing lengths of texts
print(len(job_titles),len(locations_list),len(company_names),len(experience_list))

20 20 20 20

# Data Frame

In [245]:
#import pandas as pd
Data_Scientist=pd.DataFrame({})
Data_Scientist['title']=job_titles
Data_Scientist['company']=company_names
Data_Scientist['experience_required']=experience_list
Data_Scientist['location']=locations_list

In [246]:
Data_Scientist

,title,company,experience_required,location
0,Senior Data Scientist,Philips India Limited,8-10 Yrs,Bangalore/Bengaluru
1,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,5-10 Yrs,Bangalore/Bengaluru
2,Senior Data Scientist,SYMBIOSIS International W.L.L,10-15 Yrs,Bangalore/Bengaluru
3,DATA SCIENTIST,McAfee Software (India) Pvt. Ltd,4-8 Yrs,Bangalore/Bengaluru
4,Senior Data Scientist,Datamatics Global Services Ltd,8-13 Yrs,Bangalore/Bengaluru
5,Software Developer - Data Scientist / NLP / Ma...,Cunesoft India Private Limited,3-8 Yrs,Bangalore/Bengaluru
6,Data scientist,Uber,6-8 Yrs,Bangalore/Bengaluru
7,Senior Data Scientist,IBM India Pvt. Limited,5-10 Yrs,Bangalore/Bengaluru
8,Sr Data Scientist,IBM India Pvt. Limited,8-12 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist,Publicis Groupe,2-5 Yrs,Bangalore/Bengaluru
10,Senior Data Scientist,Bidgely Technologies Private Limited,4-6 Yrs,Bangalore/Bengaluru
11,Senior Data Scientist,Goals 101 Data Solutions Pvt. Ltd.,4-8 Yrs,"New Delhi, Bangalore/Bengaluru, Delhi / NCR"
12,Data Scientist - Permanent Role,Onward Technologies Limited,6-11 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
13,Senior Data Scientist,RANDSTAD INDIA PVT LTD,4-9 Yrs,Bangalore/Bengaluru
14,Sr. Data Scientist / Tech Lead - Data Science,Confidential,6-9 Yrs,Bangalore/Bengaluru
15,Senior Data Scientist,L A Consultancy,5-9 Yrs,"Kochi/Cochin, Hyderabad/Secunderabad, Pune, Ch..."
16,Lead Data Scientist - Tensorflow/Machine Learning,Getinz Techno Services,7-10 Yrs,"Mumbai, Hyderabad/Secunderabad, Chennai, Banga..."
17,Associate Data Scientist,ExecBoardinAsia,5-10 Yrs,Bangalore/Bengaluru
18,"Data Engineers , Data Scientist and SAP",Teamware Solutions,7-10 Yrs,Bangalore/Bengaluru
19,Senior Data & Applied Scientist,Microsoft Corporation,3-5 Yrs,Bangalore/Bengaluru

In [247]:
df=pd.DataFrame(Data_Scientist)
df=df.iloc[0:10]
df

,title,company,experience_required,location
0,Senior Data Scientist,Philips India Limited,8-10 Yrs,Bangalore/Bengaluru
1,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,5-10 Yrs,Bangalore/Bengaluru
2,Senior Data Scientist,SYMBIOSIS International W.L.L,10-15 Yrs,Bangalore/Bengaluru
3,DATA SCIENTIST,McAfee Software (India) Pvt. Ltd,4-8 Yrs,Bangalore/Bengaluru
4,Senior Data Scientist,Datamatics Global Services Ltd,8-13 Yrs,Bangalore/Bengaluru
5,Software Developer - Data Scientist / NLP / Ma...,Cunesoft India Private Limited,3-8 Yrs,Bangalore/Bengaluru
6,Data scientist,Uber,6-8 Yrs,Bangalore/Bengaluru
7,Senior Data Scientist,IBM India Pvt. Limited,5-10 Yrs,Bangalore/Bengaluru
8,Sr Data Scientist,IBM India Pvt. Limited,8-12 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist,Publicis Groupe,2-5 Yrs,Bangalore/Bengaluru

# Solution 3- Scraping data using the filters available on the webpage

In [44]:
#importing all the required libraries
from selenium import webdriver
import os
import pandas as pd
from time import sleep
import time 
import warnings
warnings.filterwarnings("ignore")

In [45]:
#Lets first connect to the webdriver
driver= webdriver.Chrome( "chromedriver.exe ")

In [46]:
#For scraping data from naukri.com
url='https://www.naukri.com/'
driver.get(url)

In [ ]:
#By using id function going to extract the web element
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

#Now going to write Data Sceintist over search engine of naukri.com
search_job.send_keys("Data Scientist")

#Now we have to do click search button using xpath function to get the web element
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

#clicking on search button
search_btn.click()
#once I run it i will be on the job opening page

In [36]:
path = r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get('https://www.naukri.com/')

Job_Title = []
Location = []
Company_Name = []
Experience_Required = []

time.sleep(4)
driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(5)
driver.switch_to_window(driver.window_handles[0])
time.sleep(5)
Task2 =driver.find_element_by_xpath("//span[@class='fr geoLocBtn later']")
Task2.click()
time.sleep(5)
Task3=driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
Task3.click()
time.sleep(3)
Task4=driver.find_element_by_xpath("//div[@class='inpWrap']/input")
Task4.send_keys('Data Scientist')
time.sleep(3)
Task5=driver.find_element_by_xpath("//div[@class='suggestor-location']//input")
Task5.send_keys('Delhi/NCR')
time.sleep(3)
Task6=driver.find_element_by_xpath("//div[@class='qsb-main-content row']//button")
Task6.click()
time.sleep(5)
Task7=driver.find_element_by_xpath("//span[@title ='3-6 Lakhs']")
Task7.click()
time.sleep(5)
#Extracting Job Title data 
Task8 = driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div/a")
for aa in Task8:
    bb  = aa.text
    Job_Title.append(bb)
    
Job_Title = pd.DataFrame(Job_Title)
Job_Title = Job_Title.rename({ 0 : 'Job Title'} , axis = 1 )


time.sleep(5)

# Extracting  company name 
Task9 = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

for cc in Task9:
    kk = cc.text
    Company_Name.append(kk)
Company_Name

Company_Name = pd.DataFrame(Company_Name)
Company_Name= Company_Name.rename({0 : 'Company Name'}, axis=1  )

time.sleep(5)

# Extracting  Location Data
Task10 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
for jj in Task10:
    vv = jj.text
    Location.append(vv)
Location[0:5]

Location =pd.DataFrame(Location)
Location=Location.rename( columns = { 0 : 'Location'} )

time.sleep(5)

# Extracting  Experience required data 
Task11= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for pp in Task11:
    g = pp.text
    Experience_Required.append(g)
    
Experience_Required = pd.DataFrame(Experience_Required)
Experience_Required  = Experience_Required.rename(columns = { 0 : 'Experience'})


#Extracting Final Data 
Naukri_Jobs = pd.concat([Job_Title,Company_Name,Location ,Experience_Required ] ,axis=1)
Naukri_Jobs3 =Naukri_Jobs.iloc[0:10]
Naukri_Jobs3

,Job Title,Company Name,Location,Experience
0,Data Scientist,Agreeya,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
1,Data Scientist Internship,iHackers Inc,New Delhi,0-1 Yrs
2,Data Scientist,CBRE South Asia Pvt Ltd,Gurgaon/Gurugram,2-4 Yrs
3,Senior Data Scientist - Noida,Optum Global Solutions (India) Private Limited,Noida,2-6 Yrs
4,Data Scientist / Sr. Data Scientist,WEGARNER SOLUTIONS PRIVATE LIMITED,"Noida, Pune, Mumbai (All Areas)",0-5 Yrs
5,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs
6,Immediate Openings For DATA Scientist with 6 T...,Entune IT Consulting Private Limited,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",5-8 Yrs
7,Data Scientist,Decimal Technologies Pvt Ltd.,(WFH during Covid),1-3 Yrs
8,Data Scientist,R Systems International Ltd.,Gurgaon/Gurugram,5-10 Yrs
9,Data Scientist - Machine Learning/NLP,TalPro,Noida(Sector-59 Noida),2-6 Yrs

# Solution 4- A Python program to scrape data for first 10 job results for Data scientist Designation in Noida Location From Glassdoor

In [122]:
#loading Necessary Libraries
import pandas as pd
from selenium import webdriver
from time import sleep
import time 
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

path =r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe"
driver=webdriver.Chrome(path)
my_page=driver.get('https://www.glassdoor.co.in/index.htm')



Company_Name = []
Job_Posting_Days = []
Rating = []

In [4]:
time.sleep(5)
Task2=driver.find_element_by_xpath("//button[@class='d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton']")
Task2.click()

In [8]:

time.sleep(5)
Task2=driver.find_element_by_xpath("//div[@class=' ezd297g0 css-1t9wuyr']/div/input[@id='userEmail']")
Task2.send_keys('susmita09@gmail.com')
time.sleep(5)
Task3=driver.find_element_by_xpath("//div[@class='input-wrapper css-q444d9']/input[@id='userPassword']")
Task3.send_keys('xyz12345')
time.sleep(5)
Task4=driver.find_element_by_xpath("//form[@name='emailSignInForm']/div[3]/div/button[@type='submit']")
Task4.click()
time.sleep(5)

In [9]:

Task5 = driver.find_element_by_xpath("//input[@name='sc.keyword']")
Task5.send_keys('Data Scientist')
time.sleep(5)

In [11]:
Task6 = driver.find_element_by_xpath("//input[@id='LocationSearch']").clear()
time.sleep(3)
Task6 = driver.find_element_by_xpath("//input[@id='LocationSearch']")
Task6.send_keys('Noida')

In [12]:

time.sleep(5)
Task7 =driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
Task7.click()
time.sleep(5)

In [125]:
# Extracting  No of Days job posted data 
Task8 = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

for hy in Task8[0:10]:
    se = hy.text
    Job_Posting_Days.append(se)
    
Job_Posting_Days1 = pd.DataFrame(Job_Posting_Days)
Days_Posted =Job_Posting_Days1.rename(columns = { 0 : 'Days Posted'})

In [126]:
Task9 = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")

for hy in Task9[0:10]:
    se = hy.text
    Company_Name.append(se)
    
Company_Name1 = pd.DataFrame(Company_Name)
Company_Name1 =Company_Name1.rename(columns = { 0 : 'Company Name'})

In [129]:
urls1=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")]
for url1 in urls1[0:10]:
    driver.get(url1)
    time.sleep(5)


    try:
        Task2 = driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']").text
    
        Rating.append(Task2)
    except NoSuchElementException: 
        Rating.append('No Rating')

In [139]:
Rating4 = []

In [140]:
for i  in Rating:
    g= i.replace('\n★','')
    Rating4.append(g)

In [142]:
Rating4 = pd.DataFrame(Rating4)
Rating4 =Rating4.rename(columns = { 0 : 'Rating'})

In [144]:
#Final Data
Data_Scientist_Glassdoor  = pd.concat([Company_Name1 ,Days_Posted1 , Rating4] , axis=1)
Data_Scientist_Glassdoor

                           Company Name Days Posted     Rating
0                Applied Materials Inc.        30d+        4.0
1                        Talent Shiksha          5d  No Rating
2                                 Slice          3d        3.4
3                Data Trained Education          2d  No Rating
4                       Bizgaze Limited          1d  No Rating
5                         NatWest Group          6d        3.9
6  Liberin Technologies Private Limited         29d  No Rating
7             Lericon infomatic pvt.ltd         24h  No Rating
8                   Aliqan Technologies          7d  No Rating
9                         OXO Solutions         16d        5.0

#  5)  Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [19]:
#Loading  Necessary Libraries 
import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

path =r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe"
driver=webdriver.Chrome(path)
my_page=driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [20]:
Company_name = []
Number_of_salaries = []
Average_salary = []
Min_salary = []
Max_Salary = []
Rating = []

In [23]:

time.sleep(5)
Task2=driver.find_element_by_xpath("//div[@class='d-flex']//button")
Task2.click()
time.sleep(5)
Task2=driver.find_element_by_xpath("//div[@class='input-wrapper css-q444d9']/input[@id ='userEmail']")
Task2.send_keys('susmita09@gmail.com')
time.sleep(5)
Task3=driver.find_element_by_xpath("//div[@class='input-wrapper css-q444d9']/input[@id ='userPassword']")
Task3.send_keys('xyz12345')
time.sleep(5)
Task4=driver.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
Task4.click()
time.sleep(5)

In [24]:

Task5 = driver.find_element_by_xpath("//input[@name='sc.keyword']")
Task5.send_keys('Data Scientist')
time.sleep(5)
Task6 = driver.find_element_by_xpath("//input[@id='LocationSearch']").clear()
time.sleep(5)
Task6 = driver.find_element_by_xpath("//input[@id='LocationSearch']")
Task6.send_keys('Noida')
time.sleep(5)
Task7 =driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
Task7.click()
time.sleep(5)

In [ ]:
Company_name = []
Number_of_salaries = []
Average_salary = []
Min_salary = []
Max_Salary = []
Rating = []

In [25]:
Task1 = driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']/a")

for hy in Task1[0:10]:
    se = hy.text
    Company_name.append(se)
    
Task2 = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']/span")

for hy in Task2[0:10]:
    se = hy.text
    Number_of_salaries.append(se)
    
Task3 = driver.find_elements_by_xpath("//div[@class='row css-8atqhb e1aj7ssy0']/div[2]")

for hy in Task3[0:10]:
    se = hy.text
    Average_salary.append(se)

Task4 = driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[1]")

for hy in Task4[0:10]:
    se = hy.text
    Min_salary.append(se)
    
    
Task5 = driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[2]")

for hy in Task5[0:10]:
    se = hy.text
    Max_Salary.append(se)
    
Task8 = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")

for hy in Task8[0:10]:
    se = hy.text
    Rating.append(se)

In [28]:
Data_Scientist_Noida = pd.DataFrame({'Company Name': Company_name , 'Number of salaries':Number_of_salaries ,'Average_salary': Average_salary, 'Min Salary':Min_salary ,'Max Salary':Max_Salary, 'Rating':Rating })

In [29]:
#Final Data
Data_Scientist_Noida

,Company Name,Number of salaries,Average_salary,Min Salary,Max Salary,Rating
0,Tata Consultancy Services,18 salaries,"₹6,12,205\n /yr",₹3L,₹13L,3.9
1,IBM,18 salaries,"₹9,00,000\n /yr",₹6L,₹27L,3.9
2,Accenture,15 salaries,"₹11,63,336\n /yr",₹6L,₹22L,4.1
3,Delhivery,15 salaries,"₹12,18,244\n /yr",₹5L,₹1Cr,3.9
4,Ericsson-Worldwide,14 salaries,"₹7,39,238\n /yr",₹4L,₹16L,4
5,UnitedHealth Group,14 salaries,"₹12,80,000\n /yr",₹8L,₹15L,3.7
6,Optum,10 salaries,"₹13,20,960\n /yr",₹8L,₹20L,3.7
7,Valiance Solutions,10 salaries,"₹8,63,750\n /yr",₹5L,₹15L,4.2
8,EXL Service,9 salaries,"₹11,10,000\n /yr",₹6L,₹15L,3.6
9,Optum Global Solutions,9 salaries,"₹13,28,697\n /yr",₹4L,₹22L,3.9

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com.

In [64]:
# Loading Necesary Libraries
import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

path =r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe"
driver=webdriver.Chrome(path)
my_page=driver.get('https://www.flipkart.com')

In [65]:
time.sleep(5)
Task4=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
Task4.click()

In [66]:
Task2=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
Task2.send_keys('sunglasses')
time.sleep(5)
Task4=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
Task4.click()

In [67]:
Brand  = []
Product_Description = []
Price = []
Discount  = []

In [68]:
start_page=1
end_page=4
    
    
for page in range(start_page,end_page+1):
        
                Task1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

                for hy in Task1:
                    se = hy.text
                    Brand.append(se)
    
                Task2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

                for hy in Task2:
                    se = hy.text
                    Product_Description.append(se)
    
                Task3 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

                for hy in Task3:
                    se = hy.text
                    Price.append(se)

                Task4 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

                for hy in Task4:
                    se = hy.text
                    Discount.append(se)

    
            
                time.sleep(3)
                nxt_button1=driver.find_element_by_xpath("//span[text()='Next']").click()

In [70]:
#Final Libraries
Sunglasses = pd.DataFrame({'Brand': Brand[0:100] , 'Product Description ':Product_Description[0:100]  ,'Price': Price[0:100], 'Discount':Discount[0:100]  })
Sunglasses

,Brand,Product Description,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹474,78% off
1,HIPPON,UV Protection Wayfarer Sunglasses (55),₹257,78% off
2,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹191,84% off
3,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹516,66% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹826,8% off
...,...,...,...,...
95,GANSTA,UV Protection Round Sunglasses (52),₹199,80% off
96,Fastrack,UV Protection Round Sunglasses (50),"₹1,093",15% off
97,ROYAL SON,"Mirrored, Riding Glasses, Others Sports Sungla...",₹399,73% off
98,Singco India,"UV Protection, Others Aviator Sunglasses (32)",₹239,84% off
99,Singco,"UV Protection, Night Vision, Gradient, Mirrore...",₹337,83% off

# 7) Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [277]:
#Loading Necessary libraries
import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

path =r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe"
driver=webdriver.Chrome(path)
my_page=driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [278]:
Rating = []
Review_summary  = []
Full_review = []

In [279]:
Task4=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
Task4.click()
time.sleep(5)

In [292]:
start_page=1
end_page=2
    
    
for page in range(start_page,end_page+1):





                Task1 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

                for hy in Task1:
                    se = hy.text
                    Rating.append(se)
    
                Task2 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

                for hy in Task2:
                    se = hy.text
                    Review_summary.append(se)
    
                Task3 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")

                for hy in Task3:
                    se = hy.text
                    Full_review .append(se)

                time.sleep(3)
                nxt_button1=driver.find_element_by_xpath("//span[text()='Next']").click()

In [296]:
#Final Data
Apple_phone_Reviews = pd.DataFrame({'Rating': Rating[0:100] , 'Review_summary':Review_summary[0:100]  ,'Full_review': Full_review[0:100] })
Apple_phone_Reviews

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
98,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
99,4,Excellent,A perfect phone and a good battery super camer...

# 8 ) Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [110]:
#Loading necessary libraries
import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

path =r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe"
driver=webdriver.Chrome(path)
my_page=driver.get('https://www.flipkart.com')

In [111]:
time.sleep(5)
Task4=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
Task4.click()

In [112]:
Task2=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
Task2.send_keys('sneakers')
time.sleep(5)
Task4=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
Task4.click()

In [113]:
Brand  = []
Product_Description = []
Price = []
Discount  = []

In [114]:
start_page=1
end_page=4
    
    
for page in range(start_page,end_page+1):
        
                Task1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

                for hy in Task1:
                    se = hy.text
                    Brand.append(se)
    
                Task2 = driver.find_elements_by_xpath("//a[@class='IRpwTa'] | //a[@class='IRpwTa _2-ICcC']")

                for hy in Task2:
                    se = hy.text
                    Product_Description.append(se)
    
                Task3 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

                for hy in Task3:
                    se = hy.text
                    Price.append(se)

                Task4 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

                for hy in Task4:
                    se = hy.text
                    Discount.append(se)

    
            
                time.sleep(3)
                nxt_button1=driver.find_element_by_xpath("//span[text()='Next']").click()

In [115]:
# Final Data
Sneakers = pd.DataFrame({'Brand': Brand[0:100] , 'Product Description ':Product_Description[0:100]  ,'Price': Price[0:100], 'Discount':Discount[0:100]  })
Sneakers

,Brand,Product Description,Price,Discount
0,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,₹474,52% off
1,Zsyto,Sneakers For Men,₹311,76% off
2,PUMA,Hip Hop Mid Perf IDP Sneakers For Men,"₹2,042",41% off
3,World Wear Footwear,Latest Collection-1227 Stylish Casual Sports S...,₹240,51% off
4,HOC,Luxury Fashionable Breathable White shoes for ...,₹378,81% off
...,...,...,...,...
95,Wakefield,Sneakers For Men,₹188,68% off
96,Wakefield,Sneakers For Men,₹213,57% off
97,SPARX,SM-322 Sneakers For Men,₹749,25% off
98,SPARX,SM-607 Sneakers For Men,₹660,17% off
99,Zsyto,Sneakers For Men,₹378,62% off

# 9 ) Scrap  Data From Myntra.com

In [132]:
#Loading Necessary Libraries
import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

path =r"C:\Users\Femina\Downloads\chromedriver_win32\chromedriver.exe"
driver=webdriver.Chrome(path)
my_page=driver.get('https://www.myntra.com/shoes')

In [133]:
Brand = []
Shoe_Description = []
Price =  []

In [134]:
time.sleep(5)
Task4=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label/div")
Task4.click()

In [135]:
time.sleep(5)
Task4=driver.find_element_by_xpath("//ul[@class='price-list']/li[3]/label/div")
Task4.click()

In [136]:
time.sleep(5)
Task4=driver.find_element_by_xpath("//ul/li[@class='colour-listItem']/label[@data-count ='1075']/div")
Task4.click()

In [137]:
time.sleep(4)

In [138]:
start_page=1
end_page=3
    
    
for page in range(start_page,end_page+1):
                
                time.sleep(3)
        
                Task1 = driver.find_elements_by_xpath("//h3[@class='product-brand']")

                for hy in Task1:
                    se = hy.text
                    Brand.append(se)
    
                Task2 = driver.find_elements_by_xpath("//h4[@class='product-product']")

                for hy in Task2:
                    se = hy.text
                    Shoe_Description.append(se)
    
                Task3 = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")

                for hy in Task3:
                    se = hy.text
                    Price.append(se)

    
            
                time.sleep(3)
                nxt_button1=driver.find_element_by_xpath("//a[text()='Next']").click()

In [139]:
#Final Data
Shoes = pd.DataFrame({'Brand': Brand[0:100] , 'Shoe Description ':Shoe_Description[0:100]  ,'Price': Price[0:100], 'Discount':Discount[0:100]  })
Shoes

           Brand                Shoe Description              Price Discount
0           ALDO                Men Driving Shoes         Rs. 11999  52% off
1           Nike       Men BlazerLow '77 Sneakers          Rs. 7195  76% off
2           Nike       Men Renew Retaliation TR 3          Rs. 5995  41% off
3           Puma   Men Cell Fraction Fade Running          Rs. 6999  51% off
4           Nike       Men Crater Remixa Sneakers          Rs. 5495  81% off
..           ...                              ...               ...      ...
95         ASICS              Women Running Shoes  Rs. 6299Rs. 8999  68% off
96          Geox              Women Leather Pumps  Rs. 5999Rs. 7999  57% off
97  Kenneth Cole  Men Solid Leather Formal Derbys  Rs. 6293Rs. 8990  25% off
98  Hush Puppies        Men Leather Formal Derbys  Rs. 6299Rs. 6999  17% off
99  UNDER ARMOUR    Women Charged Vantage ClrShft          Rs. 7999  62% off

[100 rows x 4 columns]

# 10 ) Scrap Laptop Data From  Amazon.com

In [299]:
#Loading  Necessar Libraries
import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

path =r"C:\Users\thunderbolt\sof1\chromedriver.exe"
driver=webdriver.Chrome(path)
my_page=driver.get('https://www.amazon.in')

In [300]:
#creating the empty list
Title=[]
Ratings=[]
price=[]

In [301]:
Task2=driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")
Task2.send_keys('Laptop')
time.sleep(5)

In [302]:
time.sleep(5)
Task4=driver.find_element_by_xpath("//div[@class='nav-right']")
Task4.click()
time.sleep(5)

In [303]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [304]:
#locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [305]:
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:15]:
    Title.append(i.text)

In [306]:
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:15]:
    price.append(i.text)

In [307]:
#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:15]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException   as e:
        Ratings.append("NO rating")#appending the No rating if no rating is there

In [308]:
#checking the length of each list
print(len(Title))
print(len(price))
print(len(Ratings))

15
15
15

In [309]:
#creating a dataframe
df=pd.DataFrame({'Title':Title[3:13],
                'Price':price[3:13],
                'Ratings':Ratings[3:13]})
#printing dataframe
print(df)

                                               Title     Price       Ratings
0  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990  4.3 out of 5
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...    59,490  4.4 out of 5
2  HP Pavilion Gaming(2021) 10th Gen Intel Core i...    89,990  4.4 out of 5
3  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...    71,990  4.2 out of 5
4  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,09,990  4.1 out of 5
5  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...    74,990  4.6 out of 5
6  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    34,990  3.8 out of 5
7  Lenovo Legion 5 10th Gen Intel Core i7-10750H ...    82,990  4.4 out of 5
8  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  1,07,990  4.5 out of 5
9  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...  1,03,990  4.4 out of 5